@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$light: #eefcfd;
$dark-primary: #4B017A;
$dark-primary-lighten: rgba(101, 32, 106, 0.5);

* {
  background-color: $light;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $dark-primary;
  font-family: 'Open Sans', sans-serif;
}

.header {
  .flex {
    display: flex;
    justify-content: space-between;
  }
  .container {
    padding: 20px 0;

    h1 {
      font-family: "Oleo Script", cursive;
      text-shadow: 0 3px 2px $dark-primary-lighten;
      color: #65206A;
    }
    ul {
      list-style: none;
      display: inline-block;
      font-weight: 500;
      li {
        display: inline-block;
        margin: 0 30px;
        margin-top: 18px;
        transition: 0.1s;

        &:hover {
            border-bottom: 1px solid rgba(101, 32, 106, 0.2);
            cursor: pointer;
        }
      }
    }
    button {
        width: 120px;
        height: 50px;
        border-radius: 15px;
        font-weight: 700;
        font-size: 15px;
        color: #fff;
        background-color: $dark-primary;
        border-color: $dark-primary;
        transition: all 250ms ease-in-out; 
        box-shadow: 0 3px 5px 0 $dark-primary-lighten;
        
        &:hover {
            color: $dark-primary;
            background-color: transparent;
            box-shadow: 0 0 10px 0 rgba(101, 32, 106, 0.8) inset, 0 0 10px 4px rgba(101, 32, 106, 0.8);
        }

    }
  }
}
.intro {
    height: 100vh;

    .wyeth {
        margin-top: 90px;
        margin-right: 20px;
        height: 90%;
        float: right;
    }
}
